@page
@model FullCRUDZoo.Pages.Animals.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add Animal</h1>

<hr />
<div class="row">
    <h4>Details</h4>
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Animal.Name" class="control-label my-1"></label>
                <input asp-for="Animal.Name" class="form-control mb-2" />
                <span asp-validation-for="Animal.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Species" class="control-label my-1"></label>
                <input asp-for="Animal.Species" class="form-control mb-2" />
                <span asp-validation-for="Animal.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Diet" class="control-label my-1"></label>
                <input asp-for="Animal.Diet" class="form-control mb-2" />
                <span asp-validation-for="Animal.Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.PhotoURL" class="control-label my-1"></label>
                <input asp-for="Animal.PhotoURL" class="form-control mb-2" />
                <span asp-validation-for="Animal.PhotoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.DateOfBirth" class="control-label my-1"></label>
                <input asp-for="Animal.DateOfBirth" class="form-control mb-2" />
                <span asp-validation-for="Animal.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.DateAquired" class="control-label my-1"></label>
                <input asp-for="Animal.DateAquired" class="form-control mb-2" />
                <span asp-validation-for="Animal.DateAquired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.LastFed" class="control-label my-1"></label>
                <input asp-for="Animal.LastFed" class="form-control mb-2" />
                <span asp-validation-for="Animal.LastFed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-secondary my-2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
