@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Zoo</h1>
    <a asp-page="/Animals/Index" class="btn btn-primary">See Our Animals</a>
</div>
